<!-- Loading Indicator -->
<div *ngIf="!title.isLoding" class="d-flex justify-content-center">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<!-- Products against related suite-->
<div class="row" *ngIf="title.isLoding">

  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!showTenantTrialProducts">
    <div class="d-flex justify-content-center">
      <img src="../assets/Images/noproduct.png" class="img-fluid" alt="noproduct">
    </div>
    <div class="text-center noSub">
      No assigned products
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-auto pb-3"
    *ngFor="let tryProd of trialProducts | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">

    <div class="card">

      <a (click)="goToLink(tryProd,i)" class="pointer">
        <img src="{{tryProd.productImage}}" class="card-img-top" alt="{{tryProd.productName}}">
      </a>

      <div class="card-body text-center">
        <div class="img-icon-div">
          <img [src]="sanitizer.bypassSecurityTrustResourceUrl(tryProd.productIcon)" alt="{{tryProd.productName}}"
            class="img-icon">
        </div>
        <a (click)="goToLink(tryProd)" class="pointer">
          <h5 class="card-title">{{tryProd.productName}}</h5>
        </a>
        <p class="card-text">{{daysLeft[i]}} days left</p>

        <p class="to"><span class="prddate">{{tryProd.startDate | date:'dd-MMM-yyyy'}}</span> to
          <span class="prddate">{{tryProd.endDate | date:'dd-MMM-yyyy'}}</span></p>

        <!--  <p class="card-desc" *ngIf="expanded[i] == false">
          {{tryProd.productDescription.substr(0, 45)}}...
          <a id="{{i}}" (click)="readmore(i)" class="readmore">Readmore</a>
        </p>
        <p class="card-desc-more" *ngIf="expanded[i] == true">
          {{tryProd.productDescription}} <br>
          <a id="{{i}}" (click)="Readless(i)" class="readmore">Readless</a>
        </p> -->

        <p class="card-desc" *ngIf="tryProd.productDescription.length <= 55">
          {{tryProd.productDescription.substr(0, 55)}} <br>
        </p>
        <span *ngIf="tryProd.productDescription.length > 55">
          <p class="card-desc" *ngIf="expanded[i] == false">
            {{tryProd.productDescription.substr(0, 55)}}...<br>
            <a id="{{i}}" (click)="readmore(i)" class="readmore">Readmore</a>
          </p>

          <p class="card-desc-more" *ngIf="expanded[i] == true">
            {{tryProd.productDescription}} <br>
            <a id="{{i}}" (click)="Readless(i)" class="readmore">Readless</a>
          </p>
        </span>

        <!-- Product Actions -->
        <div class="py-2">
          <button type="button" class="btn btn-assign mr-2" data-toggle="modal" data-target="#assign" title="Assign"
            data-backdrop="static" data-keyboard="false" (click)="getSiteUsers();copyAssignProduct(tryProd)"> Assign
          </button>

          <!-- <button type="button" class="btn btn-buy" data-toggle="modal" data-target="#buyModel"
                  (click)="copyProduct(tryProd)" title="Buy" data-backdrop="static" data-keyboard="false"> Buy
                </button> -->
        </div>

      </div>
    </div>

  </div>

</div>
<div *ngIf="trialProducts.length > 6">
  <pagination-controls (pageChange)="p = $event" responsive=" true" previousLabel="Previous" nextLabel="Next">
  </pagination-controls>
</div>

<!-- Buy modal  -->
<!-- <div class="modal fade" id="buyModel" tabindex="-1" role="dialog" aria-labelledby="buyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you want to Buy - <strong class="text-uppercase">{{productName}}</strong> Product
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>

      <div class="modal-body">
        <p> {{productdesc}} </p>
      </div>

      <div class="modal-footer mx-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 text-center">
          <button type="button" class="btn btn-buy" data-dismiss="modal" (click)="buy()" title="Buy">
            Buy
          </button>
        </div>
      </div>

    </div>

  </div>

</div> -->


<!-- Assign modal  -->
<div class="modal fade" id="assign" tabindex="-1" role="dialog" aria-labelledby="assignTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Assign to</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clear()">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>

      <div class="modal-body">
        <form *ngIf="siteAdmins">
          <div class="col-12 my-3">Select Site User</div>
          <div class="col-12">
            <select id="siteUsers" name="siteUsers" class="form-control" placeholder="Select Site Admin" required
              (change)="getSiteUsers()" [(ngModel)]="selectedSiteUser">
              <option value="">Select User</option>
              <option *ngFor="let su of siteUsers" [value]="su.username">
                {{su.username}}
              </option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer mx-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3 text-center">
          <button type="button" class="btn btn-modelAssign" data-dismiss="modal" title="Assign" (click)="assigntoUser()"
            [disabled]="selectedSiteUser == ''">
            Assign
          </button>
        </div>
      </div>

    </div>

  </div>

</div>