<div class="bgi">

  <div class="overlay">

    <div class="container">

      <div class="row">

        <!-- ai3o Logo and Information -->
        <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-6 my-auto resdiv">
          <a [routerLink]="['/']" routerLinkActive="active" style="cursor: pointer;">
            <img src="./../assets/Images/logo_svg.svg" class="img-fluid" alt="SignIn-Logo">
          </a><br>
          <p class="info">Welcome to AI3O Business cloud. Easy-to-use, fast, cloud powered self-service platform for
            running Business intelligence, reporting & analytics on your data.</p>
        </div>

        <!-- Forgot Password Form -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-auto">

          <form class="text-center p-5" (submit)="resetPassword()" [formGroup]="newPasswordForm">

            <a class="mblview" [routerLink]="['/']" routerLinkActive="active" style="cursor: pointer;">
              <img src="./../assets/Images/logo_svg.svg" class="img-fluid" alt="SignIn-Logo">
            </a>

            <h1>Forgot Password</h1>
            <p>Reset Password</p>

            <!-- password -->
            <div class="my-3">
              <input type="password" id="password" name="password" class="form-control text-center input-custom-control"
                placeholder="New password" autocomplete="off" formControlName="newPwd" minlength="8" maxlength="16"
                appBlockCopyPaste appSpacenotallow>
              <!-- errors -->
              <div *ngIf="newPasswordForm.get('newPwd').touched" class="text-danger">
                <div *ngIf="newPasswordForm.get('newPwd').errors?.required">
                  <small>Password is required</small>
                </div>
                <div *ngIf="newPasswordForm.get('newPwd').errors?.minlength">
                  <small>Password must be at least 8 characters long</small>
                </div>
              </div>
            </div>


            <!-- Confirm Password -->
            <div class="my-3">
              <input type="password" id="passwordConfirm" name="passwordConfirm" appConfirmPassword="password"
                class="form-control text-center input-custom-control" placeholder="Confirm password" autocomplete="off"
                formControlName="conPwd" minlength="8" maxlength="16" appBlockCopyPaste appSpacenotallow>
              <div *ngIf="newPasswordForm.get('conPwd').touched" class="text-danger">
                <div *ngIf="newPasswordForm.get('conPwd').errors?.required">
                  <small>Confirm password is required</small>
                </div>
                <div *ngIf="newPasswordForm.get('conPwd').errors?.mustMatch">
                  <small>Password and confirm password does not match</small>
                </div>
              </div>
            </div>



            <!-- reset Password button -->
            <div class="text-center my-3">
              <button type="submit" class="btn btn-reset-pwd btn-block"
                [disabled]="newPasswordForm.invalid">
                <span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"
                  *ngIf="resetPwdLoading"></span> Reset Password</button>
            </div>

            <div class="my-3 note">
              <p><strong>Note: </strong>Do not refresh the page.</p>
            </div>

          </form>
        </div>
      </div>

    </div>

  </div>

</div>
