<div class="bgi">

  <div class="overlay">

    <div class="container">

      <div class="row">

        <!-- AI3O Logo and Information -->
        <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-6 my-auto resdiv">
          <a class="pointer" (click)="navigate()">
            <img src="./../assets/Images/logo_svg.svg" class="img-fluid" alt="AI3O-Logo">
          </a>
          <p class="info ml-5" *ngIf="auth.rolebase == 'ROLE_USER' && auth.islogin">
            <span *ngIf="auth.islogin">{{auth.userName}}</span>
          </p>
          <p class="info" *ngIf="auth.rolebase != 'ROLE_USER' && auth.islogin">
            {{auth.organizationName.value}} - <span *ngIf="auth.islogin">{{auth.userName}}</span>
          </p>
        </div>

        <!-- Change Password Form -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-auto">

          <form class="p-5 text-center" (ngSubmit)="changePassword()" #changePwdForm="ngForm">

            <a class="mblview pointer" (click)="navigate()">
              <img src="./../assets/Images/logo_svg.svg" class="img-fluid" alt="AI3O-Logo">
            </a>

            <div class="my-3 text-center">
              <h1 class="my-2">Change Password</h1>
              <p class="mb-5">Update your account</p>
            </div>

            <!-- Old Password -->
            <div>
              <P>
                <input type="password" placeholder="Old password" class="form-control text-center input-custom-control"
                  id="oldPassword" name="oldPassword" [(ngModel)]="pwds.oldPassword" #oldPassword="ngModel"
                  autocomplete="off" required minlength="8" maxlength="16">
              </P>
              <!-- old Password Validations -->
              <div *ngIf="oldPassword?.touched" class="text-danger">
                <div *ngIf="oldPassword.errors?.required">
                  <small>Old password is required</small>
                </div>
                <div *ngIf="oldPassword.errors?.minlength">
                  <small>Old password must be at least 8 characters long</small>
                </div>
              </div>
            </div>

            <!-- New password -->
            <div>
              <P>
                <input type="password" placeholder="New password" class="form-control text-center input-custom-control"
                  id="newPassword" name="newPassword" [(ngModel)]="pwds.newPassword" #newPassword="ngModel"
                  autocomplete="off" required minlength="8" maxlength="16" appBlockCopyPasteInTenant
                  (keyup)="Password()">
              </P>
              <!-- new password Validations -->
              <div *ngIf="newPassword?.touched" class="text-danger">
                <div *ngIf="newPassword.errors?.required">
                  <small>New password is required</small>
                </div>
                <div *ngIf="newPassword.errors?.minlength">
                  <small>New password must be at least 8 characters long</small>
                </div>
              </div>
              <div *ngIf="newPassword?.dirty" class="text-danger">
                <div *ngIf="!Password() && !newPassword.errors?.required">
                  <small>Old password and new password must not be same</small>
                </div>
              </div>
            </div>

            <!-- Confirm password -->
            <div>
              <P>
                <input type="password" placeholder="Confirm password"
                  class="form-control text-center input-custom-control" id="confirmpwd" name="confirmpwd"
                  [(ngModel)]="conpwd" #confirmpwd="ngModel" autocomplete="off" required minlength="8" maxlength="16"
                  appBlockCopyPasteInTenant (keyup)="mustPassword()">
              </P>
              <!-- Confirm password Validations-->
              <div *ngIf="confirmpwd?.touched" class="text-danger">
                <div *ngIf="confirmpwd.errors?.required">
                  <small>Confirm password is required</small>
                </div>
              </div>
              <div *ngIf="confirmpwd?.dirty" class="text-danger">
                <div *ngIf="!mustPassword() && !confirmpwd.errors?.required">
                  <small>Password and confirm password does not match</small>
                </div>
              </div>
            </div>

            <!-- Change Password button -->
            <div class="text-center">
              <button type="submit" class="btn btn-change-pwd btn-block"
                [disabled]="changePwdForm.invalid || !mustPassword() || changePwdDisableBtn || !Password()">
                <span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"
                  *ngIf="loading"></span>Change Password
              </button>
            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>