<div class="footer" *ngIf="dataShare.footer.value">

  <div class="mx-5">

    <div class="container-fluid py-5">

      <div class="row px-5">

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 res-align">
          <h6 class="font-weight-bold">Products</h6>
          <li><a class="disable">CloudAI</a></li>
          <li><a class="disable">CloudMES</a></li>
          <li><a class="disable">Edge</a></li>
          <li><a class="disable">View All Products</a></li>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 res-align">
          <h6 class="font-weight-bold">Quick Links</h6>
          <li><a class="disable">About Insight68</a></li>
          <li><a class="disable">Contact Us</a></li>
          <!-- <li><a class="disable">Downloads</a></li> -->
          <li><a class="disable">Terms & Conditions</a></li>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 res-align">
          <h6 class="font-weight-bold">Product Help</h6>
          <li><a class="disable">Help Desk</a></li>
          <!-- <li><a class="disable">Support</a></li>
          <li><a class="disable">Login</a></li>
          <li><a class="disable">Get AI3O ID</a></li> -->
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 res-align">
          <h6 class="font-weight-bold">Social Sharing</h6>
          <div class="icons">
            <a class="disable" class="mr-3">
              <img src="../assets/Images/youtube-footer.svg" width="25" height="25" alt="Youtube">
            </a>
            <a class="disable" class="mr-3">
              <img src="../assets/Images/twitter-footer.svg" width="25" height="25" alt="Twitter">
            </a>
            <a class="disable" class="mr-3">
              <img src="../assets/Images/facebook-footer.svg" width="25" height="25" style="background: #fff;"
                alt="Facebook">
            </a>
          </div>
        </div>

      </div>

    </div>

    <div class="container-fluid">
      <div class="px-lg-5">
        <hr>
      </div>
    </div>

    <div class="container-fluid py-4">
      <div class="text-center btmfooter">
        Copyright © 2019 - Insight68
      </div>
    </div>

  </div>
</div>
