* {
  font-size: 16px;
}

.bgi {
  background: url(/assets/Images/contactus-bgi.jpg);
  background-size: 100% 100%;
}

.overlay {
  background: rgba(51, 51, 54, 0.74);
  height: 100vh;
}

.overlay>.container>.row {
  height: 100vh;
}

.info {
  color: #E0E0E0;
  padding: 0px 85px 0px 0px;
 font-size: 18px;  
}

form {
  background-color: #0070C0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 0 2px 0 rgba(0, 0, 0, .2);
  border-bottom: 10px solid #FF0000;
}

form h1 {
  color: #E0E0E0;
  font-size: 35px;
  font-weight: 800;
}

form p {
  color: #C7C7C7;
  font-weight: 500;
  font-size: 20px;
}

.input-custom-control {
  background-color: #0070C0;
  border: 1px solid #CCC;
  border-radius: 3px !important;
  height: 50px;
  color: #E0E0E0;
}

::placeholder {
  color: #BDBDBD !important;
  font-size: 16px;
}

textarea {
  resize: vertical;
  max-height: 100px !important;
  min-height: 55px !important;
  line-height: 35px;
}

.btn-send {
  border-radius: 3px !important;
  background-color: #fff !important;
  color: #142126 !important;
  font-weight: 500;
  height: 50px;
}

.btn-send:disabled {
  border-radius: 3px !important;
  background-color: #fff !important;
  color: #848b8e !important;
  font-weight: 500;
  height: 50px;
  opacity: 1 !important;
}

.mblview {
  display: none;
}

small {
  font-size: 14px !important;
}

/* GalaxyNote3 / GalaxyNote9 / Galaxy S5 / Galaxy S9/S9+ / Iphone 5/SE / Iphone (6/7/8) / Iphone (6/7/8 Plus)
 / Iphone X/XS / Iphone XR / Iphone XS Max / LG Optimus L70 / Nexus 5X / Nexus 6P / Pixel 2 / Pixel 2XL*/
@media (min-width: 320px) and (max-width: 480px) {
  .bgi {
    background: #0070c0;
    background-size: 100% 100%;
    overflow-x: hidden;
  }

  .overlay {
    background: #0070c0;
    height: 100vh;
  }

  .overlay>.container>.row {
    height: 110vh;
  }

  .resdiv {
    display: none;
  }

  .mblview {
    display: block;
  }

  .p-5 {
    padding: 15px !important;
  }

  .my-auto {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  form {
    background-color: #0070C0;
    box-shadow: none !important;
    border-bottom: none !important;
  }

}

/* Nexus 7 */
@media (min-width: 481px) and (max-width: 767px) {
  .bgi {
    background: #0070c0;
    background-size: 100% 100%;
    overflow-x: hidden;
  }

  .overlay {
    background: #0070c0;
    height: 100vh;
  }

  .overlay>.container>.row {
    height: 100vh;
  }

  .resdiv {
    display: none;
  }

  .mblview {
    display: block;
  }

  .p-5 {
    padding: 15px !important;
  }

  .my-auto {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  form {
    background-color: #0070C0;
    box-shadow: none !important;
    border-bottom: none !important;
  }

}

/* Ipad / Ipad Mini /   */
@media (min-width: 768px) and (max-width: 799px) {
  .bgi {
    background: #0070c0;
    background-size: 100% 100%;
    overflow-x: hidden;
  }

  .overlay {
    background: #0070c0;
    height: 100vh;
  }

  .overlay>.container>.row {
    height: 100vh;
  }

  .container {
    padding: 0px;
  }

  .resdiv {
    display: none;
  }

  .mblview {
    display: block;
  }

  .my-auto {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  form {
    background-color: #0070C0;
    box-shadow: none !important;
    border-bottom: none !important;
  }
}

/* Ipad Pro(10.5 Inch) / Nexus 10*/
@media (min-width: 800px) and (max-width: 1000px) {
  .resdiv {
    text-align: center !important;
  }

  .info {
    color: #E0E0E0;
    padding: 0px 0px 0px 0px !important;
  }

}

/* Ipad Pro(12.9 Inch) */
@media (min-width: 1001px) and (max-width: 1024px) {
  .resdiv {
    text-align: center !important;
  }

  .info {
    color: #E0E0E0;
    padding: 0px 0px 0px 0px !important;
  }
}

/* Laptop with MDPI Screen / Laptop With Touch / */
@media (min-width: 1025px) and (max-width: 1280px) {}
