nav {
  font-size: 14px;
}

nav input {
  font-size: 14px !important;
}

.bg-light {
  background-color: #f2f2f2 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #828282;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/* Dropdown list Starts*/
.dropdown-menu {
  font-size: 14px !important;
  background-color: #fefefe !important;
}

.dropdown-menu:before {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  top: -5px;
  left: 10px;
  right: auto;
  color: #212529;
  border-bottom: .4em solid;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent;
}

.dropdown-menu.dropdown-menu-right:before {
  left: auto;
  right: 10px;
}

.dropdown-item {
  color: #828282 !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: rgb(54, 52, 52) !important;
}

/* Dropdown list Ends */

.form-group {
  background-color: rgb(254, 254, 254);
  color: #fefefe;
  /* border-radius: 25px; */
  background-color: #fefefe;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  border: 0;
  /* border-radius: 25px; */
  background-color: #fefefe;
  color:#fefefe !important;
}

.router-link-active {
  display: inline-block;
  position: relative;
  color: #5265b4 !important;
}

.router-link-active:after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #f7b357;
  width: 90%;
  transform: translateX(-50%);
  bottom: -13px;
  left: 50%;
}

.form-inline .form-group .form-control:focus {
  display: inline-block;
  width: auto;
  background-color: transparent !important;
  border: 0;
  box-shadow: inset 0px 0px 0px 0px;
}

.badge-notify-cart {
  background: #FF5E5E;
  position: relative;
  top: -12px;
  left: 2px;
  color: whitesmoke;
  border-radius: 50% !important;
  font-size: 9px;
}

.badge-notify-notify {
  background: #39F;
  position: relative;
  top: -10px;
  left: -16px;
  color: whitesmoke;
  border-radius: 50% !important;
}

.badge-notify-email {
  background: #FA9917;
  position: relative;
  top: -10px;
  left: -12px;
  color: whitesmoke;
  border-radius: 50% !important;
}

.nav-item .btn:focus {
  box-shadow: inset 0px 0px 0px 0px;
}

nav>ul>li {
  float: left;
  position: relative;
  overflow: visible;
  width: 30%;
  max-width: 100px;
}

.pointer {
  cursor: pointer;
  font-size: 14px;
}

.username {
  color: #fff;
  font-size: 14px;
}

.user {
  color: #bcaa6d;
  font-weight: bold;
  font-size: 16px;
}

.uName {
  color: #eaf3ff;
  font-weight: bold;
  font-size: 16px;
}

.orgname {
  color: #70ad47;
  font-weight: bold;
  font-size: 16px;
}

#search::placeholder {
  text-align: left;
  font-size: 14px;
  color: #949494 !important;
}

.fa-search {
  color: #d7d3d3;
  padding-right: 5px;
}

.fa-bell,
.fa-shopping-cart,
.fa-user-circle,
.fa-envelope,
.fa-user {
  color: #BBBBBB;
  font-size: 18px !important;
}

.search-div {
  position: fixed;
  display: inline;
  top: 65px;
  left: 45px;
  background-color: #BBBBBB;
}

.color {
  color: #bdbdbd;
}

.bg-light-org {
  background-color: #5265b4;
}

/* responsive styles starts here */

/* search */
.img-text {
  color: #FFF;
  font-size: 40px !important;
  line-height: 60px;
  font-weight: 100;
}

.img-text strong {
  color: #FFF;
  font-size: 40px !important;
  line-height: 60px;
}

.prdheading {
  color: #ada8a8 !important;
  font-size: 16px;
  font-weight: 500;
}

.bodyheading {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.paragraph {
  color: #5E5E5E;
  font-size: 16px;
  height: 150px;
  word-break: break-word;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: auto;
  padding: 7px;
}

.btn-buy {
  color: #fafafa;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  background-color: #6F5996;
  border-radius: 10px;
  width: 80px;
  font-weight: 700;
}

.btn-danger-default {
  color: #fafafa;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  background-color: #FF5F58;
  border-radius: 10px;
  width: 80px;
  font-weight: 700;
}

.img-modal {
  width: 60%;
}

/* .divModal:hover {
  background-color: rgba(94, 94, 94, 0.192);
} */

.div-heading {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F8F8F8;
  border: 1px solid #E5E5E5;
  display: ruby-text;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #bdbdbd !important;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.fixed-top {
  position: static !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.mx-5 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}


/* GalaxyNote3 / GalaxyNote9 / Galaxy S5 / Galaxy S9/S9+ / Iphone 5/SE / Iphone (6/7/8) / Iphone (6/7/8 Plus)
 / Iphone X/XS / Iphone XR / Iphone XS Max / LG Optimus L70 / Nexus 5X / Nexus 6P / Pixel 2 / Pixel 2XL */
@media (min-width: 320px) and (max-width: 480px) {

  #responsiveultags {
    flex-direction: row ! important;
  }

  .bg-light-org {
    background-color: #dee2e6;
    text-align: center;
  }

  .img-modal {
    width: 75%;
  }

  .paragraph {
    color: #5E5E5E;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    height: 150px;
    word-break: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: auto;
  }

  .pointer {
    cursor: pointer;
    font-size: 14px !important;
  }

  .bodyheading {
    color: #000;
    font-size: 15px;
  }

  .text-right {
    text-align: center !important;
  }

  .mx-5 {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }

  .router-link-active {
    display: inline-block;
    position: relative;
    color: #5265b4 !important;
  }

  .router-link-active:after {
    position: absolute;
    content: '';
    border-bottom: 0px solid #f7b357;
    width: 90%;
    transform: translateX(-50%);
    bottom: -13px;
    left: 50%;
  }

  .dropdown-menu {
    position: unset;
    float: unset;
  }

  form.form-inline {
    margin-left: 0px !important;
  }
}

/* Nexus 7 */
@media (min-width: 481px) and (max-width: 767px) {
  #responsiveultags {
    flex-direction: row ! important;
  }

  .bg-light-org {
    background-color: #dee2e6;
    text-align: center;
  }

  .img-modal {
    width: 75%;
  }

  .paragraph {
    color: #5E5E5E;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    height: 150px;
    word-break: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: auto;
  }

  .pointer {
    cursor: pointer;
    font-size: 14px !important;
  }

  .bodyheading {
    color: #000;
    font-size: 15px;
  }

  .text-right {
    text-align: center !important;
  }

  .mx-5 {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }

  .router-link-active {
    display: inline-block;
    position: relative;
    color: #5265b4 !important;
  }

  .router-link-active:after {
    position: absolute;
    content: '';
    border-bottom: 0px solid #f7b357;
    width: 90%;
    transform: translateX(-50%);
    bottom: -13px;
    left: 50%;
  }

  .dropdown-menu {
    position: unset;
    float: unset;
  }

  form.form-inline {
    margin-left: 0px !important;
  }
}

/* Ipad / Ipad Mini */
@media (min-width: 768px) and (max-width: 799px) {


  #responsiveultags {
    flex-direction: row ! important;
  }

  .bg-light-org {
    background-color: #dee2e6;
    text-align: center;
  }

  .img-modal {
    width: 75%;
  }

  .paragraph {
    color: #5E5E5E;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    height: 150px;
    word-break: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: auto;
  }

  .pointer {
    cursor: pointer;
    font-size: 14px !important;
  }

  .bodyheading {
    color: #000;
    font-size: 15px;
  }

  .text-right {
    text-align: center !important;
  }

  .mx-5 {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }

  .router-link-active {
    display: inline-block;
    position: relative;
    color: #5265b4 !important;
  }

  .router-link-active:after {
    position: absolute;
    content: '';
    border-bottom: 0px solid #f7b357;
    width: 90%;
    transform: translateX(-50%);
    bottom: -13px;
    left: 50%;
  }

  .dropdown-menu {
    position: unset;
    float: unset;
  }

  .ml-3 {
    margin-left: 0px !important;
  }
}

/* Ipad Pro(10.5 Inch) / Nexus 10 */
@media (min-width: 800px) and (max-width: 1000px) {

  #responsiveultags {
    flex-direction: row ! important;
  }

  .bg-light-org {
    background-color: #dee2e6;
    text-align: center;
  }

  .img-modal {
    width: 75%;
  }

  .paragraph {
    color: #5E5E5E;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    height: 150px;
    word-break: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: auto;
  }

  .pointer {
    cursor: pointer;
    font-size: 14px !important;
  }

  .bodyheading {
    color: #000;
    font-size: 15px;
  }

  .text-right {
    text-align: center !important;
  }

  .mx-5 {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }

  .router-link-active {
    display: inline-block;
    position: relative;
    color: #5265b4 !important;
  }

  .router-link-active:after {
    position: absolute;
    content: '';
    border-bottom: 0px solid #f7b357;
    width: 90%;
    transform: translateX(-50%);
    bottom: -13px;
    left: 50%;
  }

  .dropdown-menu {
    position: unset;
    float: unset;
  }

  .ml-3 {
    margin-left: 0px !important;
  }
}

/* Ipad Pro(12.9 Inch) */
@media (min-width: 1001px) and (max-width: 1024px) {

  .form-inline .form-control {
    width: 150px;
  }

  .form-inline .form-control:active,
  .form-inline .form-control:focus {
    width: 150px !important;
  }
}

/* Laptop with HIDPI Screen / Laptop with MDPI Screen / Laptop With Touch  */
@media (min-width: 1025px) and (max-width: 1280px) {}
