<div class="container">

  <div class="row m-1">

    <div class="col-12 menu-row body-div-container mb-4">

      <ul class="nav nav-tabs mb-1 res-column">

        <li class="nav-item mr-1">
          <a routerLink="coupons-list" routerLinkActive="active" class="nav-link small text-uppercase nav-menu">
            Coupon List
          </a>
        </li>

        <li class="nav-item mr-1">
          <a routerLink="generate-coupons" routerLinkActive="active" class="nav-link small text-uppercase nav-menu">
            Generate Coupon
          </a>
        </li>

        <li class="nav-item mr-1">
          <a routerLink="coupon-to-products" routerLinkActive="active" class="nav-link small text-uppercase nav-menu">
            Coupon To Products
          </a>
        </li>

        <li class="nav-item mr-1">
          <a routerLink="coupon-to-productlist" routerLinkActive="active"
            class="nav-link small text-uppercase nav-menu">
            Coupon To Product List
          </a>
        </li>

        <li class="nav-item mr-1">
          <a routerLink="coupon-to-tenant" routerLinkActive="active" class="nav-link small text-uppercase nav-menu">
            Coupon To tenant
          </a>
        </li>

        <li class="nav-item mr-1">
          <a routerLink="coupon-to-tenantlist" routerLinkActive="active" class="nav-link small text-uppercase nav-menu">
            Coupon To tenant List
          </a>
        </li>

      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
