<div class="row mx-5 my-5">

  <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">

    <ul class="pl-0">

      <a routerLink="siteadmin-email-list" routerLinkActive="router-link-active">
        <li class="d-flex-li">
          Emails List
          <span><i class="fas fa-chevron-right fa-lg"></i></span>
        </li>
      </a>

      <a routerLink="siteadmin-email-compose" routerLinkActive="router-link-active">
        <li class="d-flex-li mt-2">
          Compose Email
          <span><i class="fas fa-chevron-right fa-lg"></i></span>
        </li>
      </a>

    </ul>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
    <router-outlet></router-outlet>
  </div>

</div>
