<div class="row mx-5 my-5">

  <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">

    <ul class="pl-0">

      <a routerLink="product-list" routerLinkActive="router-link-active">
        <li class="d-flex-li">
          Product List
          <span><i class="fas fa-chevron-right fa-lg"></i></span>
        </li>
      </a>

      <a routerLink="trial-products" routerLinkActive="router-link-active">
        <li class="d-flex-li mt-2">
          Trial Products
          <span><i class="fas fa-chevron-right fa-lg"></i></span>
        </li>
      </a>

      <a routerLink="subscribed-products" routerLinkActive="router-link-active">
        <li class="d-flex-li mt-2">
          Subscribed Products
          <span><i class="fas fa-chevron-right fa-lg"></i></span>
        </li>
      </a>

      <a routerLink="assigned-products" routerLinkActive="router-link-active">
        <li class="d-flex-li mt-2">
          Assigned Products
          <span><i class="fas fa-chevron-right fa-lg"></i></span>
        </li>
      </a>

    </ul>

  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
    <router-outlet></router-outlet>
  </div>

</div>