<!-- Loading Indicator -->
<div *ngIf="!title.isLoding" class="d-flex justify-content-center">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<!-- Products against related suite-->
<div class="row" *ngIf="title.isLoding">

  <div class="col-12" *ngIf="!showSubscribedProducts">
    <div class="d-flex justify-content-center">
      <img src="./../assets/Images/noproduct.png" class="img-fluid" alt="noproduct">
    </div>
    <div class="text-center noSub">
      No subscribed products.
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button type="button" class="btn btn-select" title="Select Products" (click)="select()">Select
        Products</button>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-auto pb-3"
    *ngFor="let subProd of tenantSubscribedProducts| paginate: { itemsPerPage: 6, currentPage: p }; let i = index;">


    <div class="card">

      <a (click)="goToLink(subProd)" class="pointer">
        <img src="{{subProd.productImage}}" class="card-img-top" alt="{{subProd.productName}}">
      </a>
      <div class="card-body text-center">
        <div class="img-icon-div pointer" (click)="goToLink(subProd)">
          <img [src]="sanitizer.bypassSecurityTrustResourceUrl(subProd.productIcon)" alt="{{subProd.productName}}"
            class="img-icon">

        </div>
        <p class="subscribedBy" [hidden]="!subProd.subscribedBy">Subscribed by: {{subProd.subscribedBy}}</p>
        <a (click)="goToLink(subProd)" class="pointer">
          <h5 class="card-title">{{subProd.productName}}</h5>
        </a>
        <!-- show without year -->
        <p class="card-text" [hidden]="daysLeft[i]['years'] != 0">{{daysLeft[i]['days']}}
          days left</p>

        <!-- show with year -->
        <p class="card-text" [hidden]="daysLeft[i]['years'] == 0">{{daysLeft[i]['years']}} years {{daysLeft[i]['days']}}
          days left</p>

        <p class="to"><span class="prddate">{{subProd.startDate | date:'dd-MMM-yyyy'}}</span> to
          <span class="prddate">{{subProd.endDate | date:'dd-MMM-yyyy'}}</span></p>

        <p class="card-desc" *ngIf="subProd.productDescription.length <= 55">
          {{subProd.productDescription.substr(0, 55)}}<br>
        </p>

        <span *ngIf="subProd.productDescription.length > 55">
          <p class="card-desc" *ngIf="expanded[i] == false">
            {{subProd.productDescription.substr(0, 55)}}...<br>

            <a id="{{i}}" (click)="readmore(i)" class="readmore">Readmore</a>
          </p>

          <p class="card-desc-more" *ngIf="expanded[i] == true">
            {{subProd.productDescription}} <br>
            <a id="{{i}}" (click)="Readless(i)" class="readmore">Readless</a>
          </p>
        </span>
        <div class="py-3">
          <button type="button" class="btn btn-sm btn-renewal font-weight-bold" disabled="buttonEnable[i]"
            title="Renewal">Renewal</button>
        </div>
      </div>

    </div>

  </div>

</div>
<div *ngIf="tenantSubscribedProducts.length > 6">
  <pagination-controls (pageChange)="p = $event" responsive=" true" previousLabel="Previous" nextLabel="Next">
  </pagination-controls>
</div>


<!-- modal  -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" *ngIf="selectedProd">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{selectedProd.productName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <p>
            You are accessing <strong>{{selectedProd.productName}}</strong> by valid token
          </p>
          <div style="word-wrap: break-word;">
            <p>{{token}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>