<div class="container">

  <div class="row m-1">

    <div class="col-12 menu-row body-div-container mb-4">

      <ul class="nav nav-tabs res-column">

        <li class="nav-item mr-1">
          <a routerLink="tenant-list-for-refund" routerLinkActive="active"
            class="nav-link small text-uppercase nav-menu">
            Tenant List For Refund
          </a>
        </li>

        <li class="nav-item mr-1">
          <a routerLink="Refund-and-adjustment" routerLinkActive="active"
            class="nav-link small text-uppercase nav-menu">
            Refund & Adjustment
          </a>
        </li>

        <li class="nav-item mr-1">
          <a routerLink="refund-amount" routerLinkActive="active" class="nav-link small text-uppercase nav-menu">
            Refund
          </a>
        </li>

        <li class="nav-item mr-1">
          <a routerLink="offline-payment" routerLinkActive="active" class="nav-link small text-uppercase nav-menu">
            Offline Payment
          </a>
        </li>

      </ul>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
