<div class="row m-3 text-center" *ngIf="errmsg">
  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5  alert alert-danger" role="alert">
    {{errmsg}}
  </div>
</div>

<div class="table-responsive" *ngIf="!errmsg">

  <table class="table table-hover">
    <thead>

      <tr>
        <th scope="col">Coupon Code</th>
        <th scope="col"> Coupon To Users List</th>
      </tr>

    </thead>

    <tbody>
      <tr *ngFor="let couponcode of CouponCodeswithUsers">
        <td>
          {{couponcode.couponCode}}
        </td>
        <td>
      <tr>
        <th style="border-top: 0px solid #dee2e6;">Tenant Id</th>
        <th style="border-top: 0px solid #dee2e6;">Tenant Name</th>
        <th style="border-top: 0px solid #dee2e6;">Email</th>
        <th style="border-top: 0px solid #dee2e6;">Mobile Number </th>
        <th style="border-top: 0px solid #dee2e6;">Country</th>
      </tr>
      <tr *ngFor="let Tenant of couponcode.users">
        <td>{{Tenant.userId}}</td>
        <td class="w-username">{{Tenant.username}}</td>
        <td class="w-email">{{Tenant.email}}</td>
        <td>{{Tenant.mobilenumber}}</td>
        <td>{{Tenant.country}}</td>
      </tr>
      </td>
      </tr>
    </tbody>
  </table>
</div>
