<!-- Loading Indicator -->
<div *ngIf="!title.isLoding" class="d-flex justify-content-center">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div *ngIf="title.isLoding">
  <!-- All Suites -->
  <table class="table table-hover mb-0">
    <thead>
      <tr>

        <th scope="col">Suite Id</th>
        <th scope="col">Suite Name</th>
        <th scope="col">Suite Type</th>
        <th scope="col">Suite Description</th>
        <th scope="col" class="text-center">Products In Suites</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let suite of allSuites">
        <ng-container *ngIf="suite.products">
          <td>{{suite.suiteId}}</td>
          <td>{{suite.suiteName}}</td>
          <td>{{suite.suiteType}}</td>
          <td class="w-25-all">{{suite.suiteDescription}}</td>
          <td>
      <tr>
        <td style="border-top: 0px solid #dee2e6;">Product Name</td>
        <td style="border-top: 0px solid #dee2e6;">Price</td>
      </tr>
      <tr *ngFor="let prod of suite.products">
        <td class="prdname"  title="{{prod.productName}}">{{prod.productName}}
        </td>
        <td class="prdduration" *ngIf="prod.productDuration === '30'">
          ${{prod.productPrice}}/Month
        </td>
        <td class="prdduration" *ngIf="prod.productDuration === '365'">
          ${{prod.productPrice}}/Year
        </td>
      </tr>
      </td>
      </ng-container>
      </tr>

    </tbody>
  </table>
</div>
