<div class="alert alert-info mt-3 text-center" role="alert" *ngIf="!tenantName">
  <small> Please go to the <a [routerLink]="['/admin/refund/Refund-and-adjustment']"
      class="alert-link text-primary">Refund
      & Adjustment </a>tab and click on <button class="btn btn-sm btn-add ml-1" title="Add product - offline payment">
      Add Product - Offline Payment
    </button> button to add product to the particular tenant user by using offline payment method.
  </small>
</div>

<div class="pt-3 pb-1" *ngIf="tenantName">
  <h5>Tenant Name: <span class="text-primary">{{tenantName}}</span></h5>

  <form class="my-3" #addForm="ngForm" (ngSubmit)="addProduct()">

    <div class="row mb-2 d-flex justify-content-center">

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngIf="products">

        <!-- Suite name -->
        <div class="form-group row">
          <label for="suiteName" class="col-5 col-sm-5 col-md-4 col-lg-4 col-xl-4">Suite Name :</label>
          <select id="suiteId" name="suiteId" class="form-control col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8"
            placeholder="select Suite" (change)="suiteProducts($event.target.value);" required>
            <option *ngFor="let suite of suites" [ngValue]="suite.suiteId">
              {{suite.suiteName}}
            </option>
          </select>
        </div>

        <!-- Product name -->
        <div class="form-group row">
          <label for="productName" class="col-5 col-sm-5 col-md-4 col-lg-4 col-xl-4">Product Name :</label>
          <select id="productId" name="productId" class="form-control col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8"
            placeholder="select Product" (change)="selectProduct($event.target.value)" required>
            <ng-container *ngIf="selectedSuite">
              <option *ngFor="let product of selectedSuite[index].products; let i = index;"
                [ngValue]="product.productId">
                {{product.productName}}
              </option>
            </ng-container>
          </select>
        </div>

        <!--product duration -->
        <div class="form-group row">
          <label for="productDuration" class="col-5 col-sm-5 col-md-4 col-lg-4 col-xl-4">Product Duration :</label>
          <select id="productDuration" name="productDuration"
            class="form-control col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8" placeholder="select Duration"
            [(ngModel)]="product.productDuration" (change)="productDuration($event.target.value)" required>
            <option value="30" selected>One Month</option>
            <option value="365">One Year</option>
          </select>
        </div>

        <!-- Payment Mode -->
        <div class="form-group row">
          <label for="paymentMode" class="col-5 col-sm-5 col-md-4 col-lg-4 col-xl-4">Payment Mode :</label>
          <select id="paymentMode" name="paymentMode" class="form-control col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8"
            placeholder="select Payment Mode" [(ngModel)]="paymentMode" (change)="paymentmode($event.target.value)"
            required>
            <option value="0">Select Payment Mode</option>
            <option value="DD">DD</option>
            <option value="Cheque">Cheque</option>
          </select>
        </div>

        <!-- Transaction Id -->
        <div class="form-group row">
          <label for="transactionNumber" class="col-5 col-sm-5 col-md-4 col-lg-4 col-xl-4">Transaction Number :</label>
          <input type="tel" id="transactionNumber" name="transactionNumber"
            class="form-control col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8" placeholder="Transaction Number"
            [(ngModel)]="transactionNumber" required minlength="6" maxlength="6" autocomplete="off" numbersonly>
          <small id="transactionNumber" class="form-text text-muted offset-4">Transaction number must be 6
            digits.</small>
        </div>

        <!-- Publish button -->
        <div class="form-group col-md-12 text-center justify-content-center mt-2">
          <button type="submit" [disabled]="addForm.invalid || paymentMode =='0' || loading || isEnabled"
            class="btn-publish text-uppercase">
            <span class="spinner-border spinner-border-sm" role="status" *ngIf="loading" aria-hidden="true"></span>
            Publish
          </button>
        </div>

      </div>
    </div>
  </form>
</div>