.form-group {
  color: black;
  border: none;
  border-radius: 25px;
  margin-bottom: 2px !important;
}

.searchbox {
  float: right;
  margin-top: -40px;
}

.searchTerm {
  box-shadow: none;
  font-size: 12px;
}

.form-inline {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  background-color: transparent;
  border: 0;
}

.form-control {
  box-sizing: border-box;
  background-color: #FCFCFC;
  border: 1px solid #CCC;
  /* box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5); */
  opacity: 0.8;
}

.actions {
  white-space: nowrap;
}

.btn-edit {
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  background-color: #2AC940;
  border-radius: 5px;
}

.btn-delete {
  color: #fafafa;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  background-color: #0062cc;
  border-radius: 5px;
}

.btn-add {
  color: #fafafa;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  background-color: rgb(218, 25, 25);
  border-radius: 5px;
}

.btn.disabled {
  cursor: not-allowed;
}

.btn-primary {
  padding: 5px !important;
  border-radius: 4px !important;
}

.modal-body {
  font-size: 14px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

/* responsive styles starts here */
@media only screen and (max-width: 575px) {

  .w-25 {
    word-wrap: break-word !important;
    max-width: 150px;
    text-align: unset;
    white-space: unset;
  }

  .modal-body {
    font-size: 12px;
  }
}
